future
emoji
requests
sqlalchemy
python-telegram-bot>=10.1.0
psycopg2-binary
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
zalgo_text
feedparser
pynewtonmath
spongemock
geopy
gsearch
googletrans
wikipedia
